<h1><%= @restaurant.name %></h1>
<br>
<h2><%= @restaurant.address %></h2>
<br>
<h2>category : <%= @restaurant.category %></h2>
<br>
<h2>To book a table, call: <%= @restaurant.phone_number%></h2>


<%= link_to "Write a review", new_restaurant_review_path(@restaurant.id) %>
<br>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "â­"*review.rating %></li>
    <li><%= review.content %></li>
  <% end %>
</ul>
<br>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, :collection => [*(0..5)] %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Back to index", restaurants_path %>
